.center{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    text-align: center;
	border-radius: 30px;
	box-shadow: 10px 10px 5px white;
	
    background-color: rgb(25,89,125);
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
}

/* Standard syntax */
@keyframes example {
    from {background-color: gold;}
    to {background-color: rgb(25,89,125);}
}

.tabCenter{
    margin: auto;
    width: 50%;
    border: 5px solid green;
    text-align: center;
	background:radial-gradient(circle at right, rgb(25,89,125), white 100%, rgb(25,89,125));
}

.classTab{
	width:30%;
	height:auto;
	box-shadow: 10px 10px 5px white
}

details{
	background:radial-gradient(circle at right, rgb(25,89,125), white 100%, rgb(25,89,125));	
}

a{
    color: white;
    text-shadow: 2px 2px #00ff82;
    font-size: 150%;
    text-decoration: none;
	position: relative;
}
	
h1, p{
    color: white;
    font-size: 300%;
	text-align:center;
}


p{
    font-size: 150%;
	color: rgb(0,0,0);
}

@media screen and (min-width: 480px) {
	body{
		background: linear-gradient(to bottom, rgb(25,89,125) 0%, white 100%);
	}
	table{
        width: 100%;
	}
}

table{
	table-layout: auto;
}

img{
    max-width: 300%;
    max-height: 300%;
}

#name{
	color: black;
	    /* Rotate div */
    -ms-transform: rotate(9deg); /* IE 9 */
    -webkit-transform: rotate(9deg); /* Chrome, Safari, Opera */
    transform: rotate(9deg);
}

details{
	background-color: azure;
}

article{
    font-variant: small-caps;
	font-family: 'PT Sans Narrow', sans-serif;
}

a:hover{
    background-color: black;
	color:white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}